:root {
  --purple: #7651e1;
  --light-purple: #f5f1fd;
  --text-color: #575764;
  --text-color-dark: #0e0e0e;
  --bg-color: #f6f8fc;
  --gray: #969aab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--bg-color);
}

/* Header */

header {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: white;
 padding: 20px 0;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h1::first-letter {
  color: var(--purple);

}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

input, select {
  height: 40px;
  border: 1px solid var(--gray);
  border-radius: 3px;
  padding: 0 10px;
  width: 100%;
}

input:focus, select:focus {
  outline: none;
  border: 2px solid var(--purple);
}

select {
  width: 150px;
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  border: none;
}


::placeholder {
  color: var(--gray);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

i {
  color: var(--gray);
  font-size: 1.5rem;
  width: 35px;
}

button[type="submit"] {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
}

/* Main */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

li {
  width: 90%;
  border: 2px solid var(--purple);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.job-card__header__info h3 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.1rem;
}

.job-card__header__info p {
  color: var(--text-color);
}

.job-card__body {
  width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.job-card__body:hover {
  white-space: normal;
  overflow: visible;
}

li a {
  text-decoration: none;
  color: var(--purple);
  font-weight: bold;
}

/* media queries */
@media screen and (width > 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 40px;
  }

  form {
    flex-direction: row;
  }

  li {
    width: 75%;
  }

  .job-card__header__info h3 {
    font-size: 1.3rem;
  }
  
}

